<div>
    <div class="card">
      <div class="card-body">
        <div class="newcard text-center mt-3 mb-4">
          <h3>Subscription Form</h3>
          <p class="text-center subs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente in mollitia molestiae odit nihil, nemo veritatis nulla officia cumque, harum consectetur omnis, nisi voluptatum vitae? Blanditiis, id veritatis. Ipsa, veritatis?</p>
        </div>
        <form>
          <div class="row justify-content-center ">
            <div class="col-md-3 mb-3 shadow-effect">
              <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="col-md-3 mb-3 shadow-effect">
              <input type="email" class="form-control" placeholder="Email Address">
            </div>
            <div class="col-md-1 mt-1 ">
              <button class="btn btn-info btn-block btn-theme ">SUBSCRIBE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
