.card{
    border: none;
    background-color: var(--secondary-color);
    width: 1200px;
}

input[type = text], input[type = email] {
    width: 100%;
}

.subs-text{
    width: 500px;
}

.newcard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  