<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Term and Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis illo excepturi quia impedit possimus. Debitis quasi voluptates tenetur officiis nesciunt officia aliquam recusandae commodi voluptatibus laudantium, architecto, dicta fugit vitae ut ad quibusdam iure at? Facere veniam praesentium, nam hic, odit, dolores ipsum cumque accusamus adipisci labore eius nulla fugit optio inventore voluptatibus sequi minus nobis saepe! Harum repellat cupiditate quia. Eum unde debitis necessitatibus distinctio ex aliquid sapiente beatae vitae impedit. Quo nostrum facere soluta eum repellendus nam modi beatae error? Ullam dolore eveniet, aperiam itaque autem, qui nostrum fugiat in saepe laudantium soluta quidem, porro aliquam aspernatur expedita?</p>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis illo excepturi quia impedit possimus. Debitis quasi voluptates tenetur officiis nesciunt officia aliquam recusandae commodi voluptatibus laudantium, architecto, dicta fugit vitae ut ad quibusdam iure at? Facere veniam praesentium, nam hic, odit, dolores ipsum cumque accusamus adipisci labore eius nulla fugit optio inventore voluptatibus sequi minus nobis saepe! Harum repellat cupiditate quia. Eum unde debitis necessitatibus distinctio ex aliquid sapiente beatae vitae impedit. Quo nostrum facere soluta eum repellendus nam modi beatae error? Ullam dolore eveniet, aperiam itaque autem, qui nostrum fugiat in saepe laudantium soluta quidem, porro aliquam aspernatur expedita?</p>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis illo excepturi quia impedit possimus. Debitis quasi voluptates tenetur officiis nesciunt officia aliquam recusandae commodi voluptatibus laudantium, architecto, dicta fugit vitae ut ad quibusdam iure at? Facere veniam praesentium, nam hic, odit, dolores ipsum cumque accusamus adipisci labore eius nulla fugit optio inventore voluptatibus sequi minus nobis saepe! Harum repellat cupiditate quia. Eum unde debitis necessitatibus distinctio ex aliquid sapiente beatae vitae impedit. Quo nostrum facere soluta eum repellendus nam modi beatae error? Ullam dolore eveniet, aperiam itaque autem, qui nostrum fugiat in saepe laudantium soluta quidem, porro aliquam aspernatur expedita?</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to home</button>
            </div>
        </div>
    </div>
</section>



