<div class="card shadow-effect">
  <img
    src="https://cdn.pixabay.com/photo/2023/10/26/14/31/birds-of-prey-8342827_1280.jpg"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger ">Design</small>
    <small class="bg-light text-success ">Featured</small>
    <small class="bg-light text-info ">Views - 10,555</small>

    <h5 class="mt-1">How to start a blog in 2024 Edited new category</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro est enim accusantium id ipsum nesciunt, totam doloribus libero similique nobis? Voluptate error recusandae beatae placeat libero. Ipsum accusantium quia molestias!</p>
    <small class="bg-light text-warning text-center ml-3">Last Updated - JAN 09, 2024</small>

</div>
</div>
